@model TodoViewModel

@{
    ViewData["Title"] = "Todo";

    var closedDate = @Model.Closed.HasValue
        ? @Model.Closed.ToString()
        : "-";
}

@if (!Model.Closed.HasValue)
{
    <div class="indent__margin-bottom">
        <a asp-controller="Todo" asp-action="Edit" asp-route-id="@Model.Id">
            <input class="button button__link button__red" type="button" value="Edit" />
        </a>
    </div>

}

<p class="todo__detail">Title: @Model.Title</p>
<p>Description: @Model.Description</p>
<p>Priority: @Model.Priority</p>
<p>Created: @Model.Created</p>
<p>Closed: @closedDate</p>

@section css {
    <link href="~/css/todo.css" rel="stylesheet" asp-append-version="true" />
}
